<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damon.operation.tool.mapper.UserMapper">
  <resultMap id="userDetailMap" type="userDetail">
    <result property="enable" column="status"/>
  </resultMap>
  <select id="findByName" resultMap="userDetailMap" useCache="true">
    select *
    from t_au_user
    where username = #{username}
  </select>

  <select id="findRolesByUserId" resultType="java.lang.Long">
    select role_id
    from t_au_user_role role
    where role.user_id = #{userId}
  </select>
</mapper>